# Conda/Python
*.pyc
__pycache__/
.ipynb_checkpoints/

# R/RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Generated per-sample FACS plots (recreated by the notebooks)
facs_plots/

# Generated output files (recreated by running the code); keep the folders
**/output/**
!**/output/**/
!**/output/**/.gitkeep

# OS
.DS_Store
